APP_NAME=Proyecto Transporte Webhooks
APP_ENV=development
THINGSPEAK_BASE_URL=https://api.thingspeak.com
THINGSPEAK_CHANNEL_ID=3324961
THINGSPEAK_READ_API_KEY=https://api.thingspeak.com/channels/3324961/feeds.json?api_key=CY0IBPECRY3NSLLC&results=1
THINGSPEAK_FIELD1_URL=https://api.thingspeak.com/channels/3324961/feeds.json?api_key=CY0IBPECRY3NSLLC&results=1
THINGSPEAK_TIMEOUT=10
THINGSPEAK_POLL_ENABLED=true
THINGSPEAK_POLL_SECONDS=8
FIREBASE_CREDENTIALS_PATH=d:\CarpetaProgramacion\ProyectoTransporte\backend_fastapi\caminesproyecto.json
FIREBASE_REALTIME_DB_URL=https://caminesproyecto-default-rtdb.asia-southeast1.firebasedatabase.app/
FIREBASE_COLLECTION=sensor_readings
SESSION_SECRET=sync-truck-secret-key
FRONTEND_ORIGIN=http://localhost:5173
